
Hands-on lab/Resources/Azure Functions/.vscode/tasks.json
Hands-on lab/Resources/Azure Functions/.vscode/settings.json
Hands-on lab/Resources/Azure Functions/.vscode/launch.json
Hands-on lab/Resources/Azure Functions/.vscode/extensions.json
